{namespace landing}

/**
 * @param baseUrl
 * @param locale
 * @param siteInternalHostName
 * @param schema
 */
{template .layout}
    {$baseUrl}
    {$locale}
    {$siteDomain}
    {$siteInternalHostName}
    {$schema}
{/template}